.skillcontainer{
  display: flex;
  align-items: center;
  justify-content: center;
  margin: 200px 0;
}
.skillcontainer__text{
  color: white;
  flex: 0.6;
  text-align: left;
  max-width: 500px;
  margin-top: 160px;
}
.skillcontainer__text h2{
  font-size: 30px;
}
.skillcontainer__image{
  flex: 0.4;
  text-align: center;
  margin-right: 100px;
}
.skillcontainer__image img{
  width: 600px;
  border-radius: 3px;
  object-fit: contain;
  margin-top: 150px;
}
.skillcontainer__skillset h5{
  font-family: monospace,sans-serif;
  font-weight: 300;
  padding-bottom: 20px;
  padding-top: 10px;
}
.skillcontainer__slider .MuiLinearProgress-colorPrimary {
  background-color: rgb(88, 88,88);
}
.skillcontainer__slider1 div .MuiLinearProgress-barColorPrimary{
  background-color: tomato;
}
.skillcontainer__slider2 div .MuiLinearProgress-barColorPrimary{
  background-color: rgb(156, 26, 3);
}
.skillcontainer__slider3 div .MuiLinearProgress-barColorPrimary{
  background-color: rgb(255, 145, 0);
}
.skillcontainer__slider4 div .MuiLinearProgress-barColorPrimary{
  background-color: rgb(228, 213, 0);
}
.skillcontainer__slider5 div .MuiLinearProgress-barColorPrimary{
  background-color: rgb(136,146, 0);
}
.skillcontainer__slider6 div .MuiLinearProgress-barColorPrimary{
  background-color: rgb(255, 209, 0);
}